@import "variable/_grid";
@import "variable/_variable";
@import "variable/_mixins";

//Page_Banner#
#page_banner {
    width: 100%;
    background-color: $secondary-color;
    padding: 20px 0 20px 0;
    //page_banner
    .page_banner {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        text-align: center;
        color: $base-color;
        //&_title
        &_title {
            font-size: 24px;
            @include weight(semi-bold);
            text-transform: uppercase;
            letter-spacing: 0.4px;
            a {color: $base-color;}
        }
        //&_href
        &_href {
            span {text-transform: capitalize;}
            a {color: $base-color; font-size: $size; text-transform: capitalize;}
        }
        //Tablet
        @include tablet {
            @include flex();
            @include flex-direction(column);
            //&_title
            &_title {font-size: 18px;}
            //&_href
            &_href {
                padding-top: 10px;
            }
        }
        //Small
        @include small {
            //&_title
            &_title {font-size: $size;}
            //&_href
            &_href {
                a, span {font-size: 12px;}
            }
        }
    }
}

//Blog#
#blog {
    width: 100%;
    padding: 80px 0 80px 0;
    //blog-post
    .blog-post {
        //post
        .post {
            position: relative;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
            img {width: 100%}
            .category {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: $secondary-color;
                padding: 10px 20px;
                line-height: normal;
                @include weight(semi-bold);
                cursor: pointer;
                a {
                    color: $base-color;
                }
            }
            h6 {
                padding-top: 15px;
                a {
                    text-transform: capitalize;
                    font-size: 24px;
                    @include weight(bold);
                    font-family: $family;
                    color: $primary-color;
                    @include transition(0.3s);
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
            p {
                padding-top: 15px;
                color: $three-color;
                font-size: $size;
                letter-spacing: 0.4px;
                line-height: 22px;
            }
            button {
                margin-top: 20px;
                background-color: $secondary-color;
                padding: 10px 20px;
                @include weight(bold);
                a {
                    font-family: $family;
                    color: $base-color;
                    text-transform: uppercase;
                    font-size: $size;
                }
            }
        }
        //Notebook
        @include notebook {
            //post
            .post {
                h6 {
                    padding-top: 15px;
                    a {font-size: 20px;}
                }
                p {font-size: 12px; letter-spacing: 0; padding-top: 10px;}
                button {
                    padding: 5px 10px;
                    font-size: 12px;
                }
            }
        }
        //Mobil
        @include mobil {
            //post
            .post {
                .category {
                    top: 5px;
                    left: 5px;
                    padding: 5px 10px;
                    font-size: 10px;
                }
                h6 {
                    line-height: normal;
                    a {font-size: $size;}
                }
                button {
                    padding: 5px 10px;
                    a {font-size: 12px; line-height: normal;}
                }
            }
        }
    }
    //blog-sidebar
    .blog-sidebar {
        //sidebar
        .sidebar {
            margin-bottom: 40px;
            //searh
            .search {
                position: relative;
                input {
                    width: 100%;
                    padding: 10px;
                    background-color: #ebebeb;
                    color: #222222;
                    font-family: $family;
                    @include weight(light);
                }
                svg {
                    position: absolute;
                    top: 15px;
                    right: 12%;
                    color: #222222;
                }
            }
            //recent-posts
            .recent-posts {
                h5 {
                    text-transform: uppercase;
                    color: $three-color;
                    font-size: 24px;
                    @include weight(bold);
                    font-family: $family;
                    letter-spacing: 0.3px;
                    padding-bottom: 20px;
                }
                .recent-post {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    h6 {
                        line-height: normal;
                        a {
                            text-transform: capitalize;
                            color: $three-color;
                            @include weight(semi-bold);
                            font-size: 16px;
                            letter-spacing: 0.3px;
                        }
                    }
                    p {
                        padding-top: 3px;
                        @include weight(regular);
                        font-size: 12px;
                        line-height: normal;
                        color: $three-color;
                        margin-bottom: 0;
                    }
                }
            }
            //blog-categories
            .blog-categories {
                h5 {
                    text-transform: uppercase;
                    color: $three-color;
                    font-size: 24px;
                    @include weight(bold);
                    font-family: $family;
                    letter-spacing: 0.3px;
                }
                ul {
                    padding-top: 10px;
                    li {
                        padding: 7px 0 0 17px;
                        position: relative;
                        &::before {
                            content: "\f054";
                            font-family: 'Font Awesome 5 Free';
                            @include weight(bold);
                            position: absolute;
                            top: 8px;
                            left: 0;
                            color: $secondary-color;
                        }
                        a {
                            font-size: $size;
                            color: $three-color;
                        }
                    }
                }
            }
        }
        //Notebook
        @include notebook {
            margin-top: 50px;
            //sidebar
            .sidebar {
                .recent-posts, .blog-categories {
                    h5 {font-size: 20px; padding-bottom: 17px;}
                }
            }
        }
        //Mobil
        @include mobil {
            //sidebar
            .sidebar {
                .recent-posts, .blog-categories {
                    h5 {font-size: 12px;}
                }
                //recent-posts
                .recent-posts {
                    h5 {
                        padding-bottom: 10px;
                        line-height: normal;
                    }
                    .recent-post {
                        margin-bottom: 7px;
                        h6 {
                            a {font-size: $size}
                        }
                        p {line-height: 18px;}
                    }
                }
                //blog-categories
                .blog-categories {
                    h5 {font-size: 12px;}
                    ul {
                        
                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    //page
    .page {
        width: 250px;
        margin: 0px auto;
        text-align: center;
        padding-top: 70px;
        .wp-pagenavi{
            clear: both;
            text-align: center;
            margin-bottom: 20px;
        }
        .wp-pagenavi a, .wp-pagenavi span{
            background: $secondary-color;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            float: left;
        }
        .wp-pagenavi a:hover{
            background: $primary-color;
            color: #fff;
        }
        //Mobil
        @include mobil {
            
        }
    }
}