@import "variable/_grid";
@import "variable/_variable";
@import "variable/_mixins";

//Page_Banner#
#page_banner {
    width: 100%;
    background-color: $secondary-color;
    padding: 20px 0 20px 0;
    //page_banner
    .page_banner {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        color: $base-color;
        //&_title
        &_title {
            font-size: 24px;
            @include weight(semi-bold);
            text-transform: uppercase;
            letter-spacing: 0.4px;
        }
        //&_href
        &_href {
            span {text-transform: capitalize;}
            a {color: $base-color; font-size: $size; text-transform: capitalize;}
        }
        //Tablet
        @include tablet {
            @include flex();
            @include flex-direction(column);
            //&_title
            &_title {font-size: 18px;}
            //&_href
            &_href {
                padding-top: 10px;
            }
        }
        //Small
        @include small {
            //&_title
            &_title {font-size: $size;}
            //&_href
            &_href {
                a, span {font-size: 12px;}
            }
        }
    }
}

//Our_Contact#
#our_contact {
    width: 100%;
    padding: 80px 0 80px 0;
    //our_contact
    .our_contact {
        //&_form
        &_form {
            h6 {
                font-size: 30px;
                @include weight(medium);
                text-transform: uppercase;
                color: $secondary-color;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 80px;
                    height: 3px;
                    background-color: $secondary-color;
                }
            }
            //form
            form {
                padding-top: 60px;
                input, textarea {
                    width: 100%;
                    padding: 10px 20px;
                    border: 1px solid #d7d7d7;
                    color: #575757;
                    resize: none;
                    margin-bottom: 20px;
                }
                .wpcf7-submit, .send {
                    width: 100%;
                    background-color: $secondary-color;
                    color: $base-color;
                    text-transform: uppercase;
                    padding: 10px 0;
                    font-size: $size;
                    @include weight(semi-bold);
                    cursor: pointer;
                }
            }
        }
        //Notebook
        @include notebook {
            &_map {margin-top: 30px;}
        }
        //X-Tablet
        @include x-tablet {
            &_form {
                h6 {font-size: 18px;}
                form {padding-top: 50px;}
            }
        }
        //Small
        @include small {
            &_form {
                h6 {
                    font-size: $size; line-height: normal;
                    &::before {
                        bottom: -10px;
                    }
                }
                form {
                    button {font-size: 12px;}
                }
            }
        }
    }
}