
//Home-Slider#
#home-slider {
    width: 100%;
    //home-slider-owl
    .home-slider-owl {
        position: relative;
        //item
        .item {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(75,75,75,0.5);
            }
            //item-overlay
            .item-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                text-align: center;
                color: $base-color;
                h6 {
                    @include weight(semi-bold);
                    font-size: 35px;
                    line-height: normal;
                    text-transform: uppercase;
                    letter-spacing: 0.4px;
                    text-shadow: 2px 2px $three-color;
                }
                p {
                    padding-top: 5px;
                    font-size: $size;
                    letter-spacing: 0.4px;
                    line-height: normal;
                }
                button {
                    margin-top: 30px;
                    background-color: transparent;
                    border: 1px solid $base-color;
                    padding: 10px 30px;
                    @include transition(0.3s);
                    a {
                        text-transform: uppercase;
                        @include weight(semi-bold);
                        font-size: $size;
                        letter-spacing: 0.3px;
                        color: $base-color;
                    }
                    &:hover {
                        background-color: $secondary-color;
                        border: 1px solid $secondary-color;
                    }
                }
            }
            //Notebook
            @include notebook {
                //item-overlay
                .item-overlay {
                    h6 {font-size: 23px;}
                }
            }
            //Tablet
            @include tablet {
                img {height: 100vh; object-fit: cover;}
                //item-overlay
                .item-overlay {
                    h6 {font-size: 20px;}
                    p {padding-top: 10px;}
                }
            }
            //X-Tablet
            @include x-tablet {
                //item-overlay
                .item-overlay {
                    h6 {font-size: $size;}
                    p {font-size: 12px;}
                    button {
                        margin-top: 20px;
                        width: 100%;
                        padding: 10px 0;
                        a {font-size: 12px;}
                    }
                }
            }
            //Small
            @include small {
                //item-overlay
                .item-overlay {
                    h6 {font-size: 12px;}
                    p {font-size: 10px;}
                    button {
                        margin-top: 20px;
                        width: 100%;
                        padding: 7px 3px;
                        a {font-size: 12px;}
                    }
                }
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 0;
            //owl-prev
            .owl-prev {
                position: absolute;
                top: 46%;
                left: 50px;
                width: 60px;
                height: 60px;
                line-height: 55px;
                text-align: center;
                border: 1px solid $base-color;
                font-size: 25px;
                color: $base-color;
                @include transition(0.4s);
                &:hover {
                    background-color: $secondary-color;
                    border: 1px solid $secondary-color;
                }
            }
            //owl-next
            .owl-next {
                position: absolute;
                top: 46%;
                right: 50px;
                width: 60px;
                height: 60px;
                line-height: 55px;
                text-align: center;
                border: 1px solid $base-color;
                font-size: 25px;
                color: $base-color;
                @include transition(0.4s);
                &:hover {
                    background-color: $secondary-color;
                    border: 1px solid $secondary-color;
                }
            }
            //Tablet
            @include tablet {
                .owl-prev, .owl-next {
                    top: 50%;
                    width: 40px;
                    height: 40px;
                    line-height: 35px;
                    font-size: 20px;
                }
                .owl-prev {left: 20px;}
                .owl-next {right: 20px;}
            }
            //Mobil
            @include mobil {
                .owl-prev, .owl-next {
                    top: 50%;
                    width: 35px;
                    height: 35px;
                    line-height: 30px;
                    font-size: 16px;
                }
                .owl-prev {left: 0;}
                .owl-next {right: 0;}
            }
        }
    }
}

//Home_Services#
#home_services {
    width: 100%;
    padding: 80px 0 50px 0;
    background-color: #f8f8f8;
    //home_services
    .home_services {
        text-align: center;
        //&_item
        &_item {
            margin-bottom: 30px;
            i {color: $three-color}
            h6 {
                padding-top: 20px;
                color: $secondary-color;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 0.4px;
            }
            p {
                padding-top: 15px;
                font-size: $size;
                color: $primary-color;
                line-height: 22px;
            }
        }
        //X-Tablet
        @include x-tablet {
            &_item {
                h6 {font-size: 18px;}
                p {padding-top: 10px;}
            }
        }
        //Mobil
        @include mobil {
            &_item {
                h6 {font-size: $size; line-height: normal;}
                p {font-size: 12px; line-height: 18px;}
            }
        }
        //Small
        @include small {
            &_item {
                h6 {font-size: 12px; line-height: normal;}
                p {font-size: 12px; line-height: 18px;}
            }
        }
    }
}

//Home_Projects#
#home_projects {
    width: 100%;
    padding: 80px 0 130px 0;
    //title
    .title {
        text-align: left;
        font-size: 30px;
        text-transform: uppercase;
        @include weight(semi-bold);
        line-height: normal;
        color: $secondary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 70px;
            height: 2px;
            background-color: $secondary-color;
        }
        //Notebook
        @include notebook {
            font-size: 25px;
        }
        //X-Tablet
        @include x-tablet {
            font-size: 20px;
        }
        //Small
        @include small {
            font-size: $size;
        }
    }
    //home_projects_owl
    .home_projects_owl {
        padding-top: 40px;
        //item
        .item {
            position: relative;
            .item_overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(38,161,228, 0.5);
                @include transition(0.4s);
                opacity: 0;
                visibility: hidden;
                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    text-align: center;
                    color: $base-color;
                }
            }
            &:hover {
                .item_overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        //owl-nav
        .owl-nav {
            position: absolute;
            bottom: -50px;
            right: 0;
            //owl-prev, .owl-next
            .owl-prev, .owl-next {
                width: 25px;
                height: 25px;
                line-height: 20px;
                text-align: center;
                background-color: $secondary-color;
                color: $base-color;
            }
        }
    }
}

//Home_Facts#
#home_facts {
    width: 100%;
    padding: 60px 0 60px 0;
    background: linear-gradient( rgba(38,161,228, 0.7), rgba(38,161,228, 0.7)), url('https://via.placeholder.com/1920x250');
    @include bg-size(cover);
    background-position: center;
    //home_facts
    .home_facts {
        color: $base-color;
        //&_item
        &_item {
            text-align: center;
            .count {
                font-size: 50px;
                @include weight(bold);
                letter-spacing: 0.5px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    right: 0;
                    width: 40px;
                    height: 2px;
                    margin: 0 auto;
                    background-color: $base-color;
                }
            }
            h6 {
                padding-top: 30px;
                text-transform: uppercase;
                @include weight(medium);
                font-size: 25px;
            }
        }
        //Notebook
        @include notebook {
            &_item {
                .count {font-size: 30px;}
                h6 {font-size: 18px;}
            }
        }
        //Mobil
        @include mobil {
            &_item {
                .count {font-size: 25px;}
                h6 {font-size: $size; line-height: normal;}
            }
        }
    }
    //Large
    @include large {
        padding: 60px 0 30px 0;
        //home_facts
        .home_facts {
            &_item {margin-bottom: 30px;}
        }
    }
}

//Home_Blog#
#home_blog {
    width: 100%;
    padding: 80px 0 130px 0;
    //title
    .title {
        text-align: left;
        font-size: 30px;
        text-transform: uppercase;
        @include weight(semi-bold);
        line-height: normal;
        color: $secondary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 70px;
            height: 2px;
            background-color: $secondary-color;
        }
        //Notebook
        @include notebook {
            font-size: 25px;
        }
        //X-Tablet
        @include x-tablet {
            font-size: 20px;
        }
        //Small
        @include small {
            font-size: $size;
        }
    }
    //home_blog_owl
    .home_blog_owl {
        padding-top: 40px;
        //item
        .item {
            img {width: 100%; object-fit: cover;}
            //item_desc
            .item_desc {
                background-color: #f8f8f8;
                padding: 30px 20px;
                font-size: $size;
                color: $primary-color;
                h6 {
                    a {
                        color: $secondary-color;
                        text-transform: uppercase;
                        @include weight(bold);
                        font-size: 18px;
                    }
                }
                .date {@include weight(light); letter-spacing: 0.3px; padding-top: 15px;}
                p {@include weight(regular); padding-top: 10px; line-height: 22px; letter-spacing: 0.4px;}
                button {
                    margin-top: 10px;
                    padding: 10px 20px;
                    background-color: $secondary-color;
                    cursor: pointer;
                    a {
                        color: $base-color;
                        @include weight(bold);
                        font-size: $size;
                        text-transform: uppercase;
                    }
                }
            }
        }
        //owl-nav
        .owl-nav {
            position: absolute;
            bottom: -50px;
            right: 0;
            //owl-prev, .owl-next
            .owl-prev, .owl-next {
                width: 25px;
                height: 25px;
                line-height: 20px;
                text-align: center;
                background-color: $secondary-color;
                color: $base-color;
            }
        }
        //Mobil
        @include mobil {
            //item
            .item {
                .item_desc {
                    padding: 20px 15px;
                    h6 {
                        line-height: normal;
                        a {font-size: $size;}
                    }
                    .date {font-size: 12px; line-height: normal; padding-top: 10px;}
                    p {font-size: 12px; line-height: normal; padding-top: 5px;}
                    button {
                        padding: 5px 10px 7px 10px;
                        a {font-size: 10px;}
                    }
                }
            }
        }
    }
}

//Home_Contact#
#home_contact {
    width: 100%;
    padding: 30px 0 30px 0;
    background-color: $secondary-color;
    //home_contact
    .home_contact {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        //&_text
        &_text {
            font-size: 24px;
            @include weight(medium);
            text-transform: uppercase;
            line-height: normal;
            color: $base-color;
        }
        //&_button
        &_button {
            button {
                border: 1px solid $base-color;
                padding: 20px 40px;
                background-color: transparent;
                @include transition(0.3s);
                a {
                    color: $base-color;
                    text-transform: uppercase;
                    font-size: $size;
                    @include weight(medium);
                }
                &:hover {
                    background-color: $base-color;
                    a {color: $secondary-color}
                }
            }
        }
        //Notebook
        @include notebook {
            @include flex();
            @include flex-direction(column);
            text-align: center;
            &_text {font-size: 18px;}
            &_button {
                margin-top: 15px;
                button {padding: 10px 20px;}
            }
        }
        //Mobil
        @include mobil {
            &_text {font-size: $size;}
            &_button {
                margin-top: 15px;
                button {
                    padding: 10px 20px;
                    a {font-size: 12px;}
                }
            }
        }
    }
}