@import "variable/_grid";
@import "variable/_variable";
@import "variable/_mixins";

//Page_Banner#
#page_banner {
    width: 100%;
    background-color: $secondary-color;
    padding: 20px 0 20px 0;
    //page_banner
    .page_banner {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        color: $base-color;
        //&_title
        &_title {
            font-size: 24px;
            @include weight(semi-bold);
            text-transform: uppercase;
            letter-spacing: 0.4px;
        }
        //&_href
        &_href {
            span {text-transform: capitalize;}
            a {color: $base-color; font-size: $size; text-transform: capitalize;}
        }
        //Tablet
        @include tablet {
            @include flex();
            @include flex-direction(column);
            //&_title
            &_title {font-size: 18px;}
            //&_href
            &_href {
                padding-top: 10px;
            }
        }
        //Small
        @include small {
            //&_title
            &_title {font-size: $size;}
            //&_href
            &_href {
                a, span {font-size: 12px;}
            }
        }
    }
}

//Our_Services#
#our_services {
    width: 100%;
    padding: 80px 0 50px 0;
    //title
    .title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        @include weight(semi-bold);
        line-height: normal;
        color: $secondary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Notebook
        @include notebook {
            font-size: 25px;
        }
        //X-Tablet
        @include x-tablet {
            font-size: 20px;
        }
        //Small
        @include small {
            font-size: $size;
        }
    }
    //our_services
    .our_services {
        padding-top: 50px;
        //&_item
        &_item {
            margin-bottom: 30px;
            img {width: 100%}
            h6 {
                padding-top: 15px;
                line-height: normal;
                a {
                    color: $secondary-color;
                    text-transform: uppercase;
                    @include weight(semi-bold);
                    font-size: 18px;
                    letter-spacing: 0.3px;
                }
            }
            p {
                padding-top: 7px;
                color: $three-color;
                font-size: $size;
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 3; /*Kaç Stırda sınırlamak istiyorsanız */
                -webkit-box-orient: vertical; 
                overflow:hidden;
            }
            button {
                margin-top: 15px;
                background-color: $secondary-color;
                padding: 10px 20px;
                a {
                    color: $base-color;
                    font-size: $size;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
        }
        //Mobil
        @include mobil {
            &_item {
                text-align: center;
                h6 {
                    a {font-size: $size;}
                }
                p {
                    font-size: 12px;
                    line-height: normal;
                }
                button {
                    width: 100%;
                    padding: 10px 3px;
                    a {font-size: 12px;}
                }
            }
        }
    }
}