/////TEAMS.HTML

//Our_Team#
#our_team {
    width: 100%;
    padding: 80px 0 50px 0;
    //title
    .title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        @include weight(semi-bold);
        line-height: normal;
        color: $secondary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Notebook
        @include notebook {
            font-size: 25px;
        }
        //X-Tablet
        @include x-tablet {
            font-size: 20px;
        }
        //Small
        @include small {
            font-size: $size;
        }
    }
    //our_team
    .our_team {
        padding-top: 60px;
        &_item {
            margin-bottom: 30px;
            img {width: 100%}
            h6 {
                padding-top: 15px;
                line-height: normal;
                a {
                    color: $secondary-color;
                    text-transform: uppercase;
                    @include weight(semi-bold);
                    font-size: 18px;
                    letter-spacing: 0.3px;
                }
            }
            p {
                padding-top: 7px;
                color: $three-color;
                font-size: $size;
                line-height: 22px;
                display: -webkit-box;
                -webkit-line-clamp: 2; /*Kaç Stırda sınırlamak istiyorsanız */
                -webkit-box-orient: vertical; 
                overflow:hidden;
            }
            button {
                margin-top: 15px;
                background-color: $secondary-color;
                padding: 10px 20px;
                a {
                    color: $base-color;
                    font-size: $size;
                    text-transform: uppercase;
                    @include weight(bold);
                }
            }
        }
        //Mobil
        @include mobil {
            &_item {
                text-align: center;
                h6 {
                    a {font-size: $size;}
                }
                p {
                    font-size: 12px;
                    line-height: normal;
                }
                button {
                    width: 100%;
                    padding: 10px 3px;
                    a {font-size: 12px;}
                }
            }
        }
    }
}